body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 210mm;
    height: 297mm;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#download-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

/* ------------------------------------------------- */

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.h1-bg {
    background: rgb(163, 19, 19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    z-index: 0;
}

h1 {
    position: relative;
    -webkit-text-stroke: 2px rgb(163, 19, 19);
    color: #277c2a;
    font: bold 6em 'Times New Roman', Times, serif;
}

p {
    line-height: 1.6;
}